@import '../../styles/variables.scss';

.saved-card {
  background-color: $violet;
  border-radius: 5px;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  margin: 2em;
  padding: 2em;
  text-decoration: none;

  
  h1{
    color: $orange-rose;
    font-family: $title;
  }
  
  .inner-text {
    color: $pewter;
    font-family: $plain-text;
  }
  
}

.saved-card-mono {
  background-color: #7b8e89;
  border-radius: 5px;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  margin: 2em;
  padding: 2em;
  text-decoration: none;
  
  h1 {
    color: $egg;
    font-family: $title;
  }
  
  .inner-text {
    color: $egg;
    font-family: $plain-text;
  }
}