@import '../../../../styles/variables.scss';

.imageContainer{
  display: flex;
  // background-color: $dark-violet;
  flex-direction: row;
  flex-wrap: wrap;

  .column {
    display: flex;
    flex-direction: column;
    justify-items: flex-start;
    max-width: 20%;
    padding: 0;
    width: 20%;

    .cover {
      background-color: $egg;
      height: 100%;
      position: relative;
      width: 100%;
      z-index: 2;
    }

    .hover-container {
      color: $egg;
      display: flex;
      align-items: center;
      flex-direction: column;
    }
    .photo-credit {
      cursor: pointer;
      font-size: .8em;
      position: relative;
      margin: .2em;
      z-index: 3;
    }

    .lock {
      cursor: pointer;
      margin: .2em;
      position: relative;
      z-index: 3;
      width: 3em;
    }
    
    .image {
      position: relative;
      z-index: 0;
      width: 100%;
      cursor: pointer;
    }
  }
}
