@import '../../../../styles/variables.scss';

.imageContainer{
  display: flex;
  // background-color: $dark-violet;
  flex-direction: row;
  flex-wrap: wrap;

  .column {
    display: flex;
    flex-direction: column;
    padding: 0;
    width: 20%;
    max-width: 20%;

    img {
      width: 100%;
    }
  }
}
