@import '../../../../styles/variables.scss';

.imageContainer{
  display: flex;
  // background-color: $dark-violet;
  flex-direction: row;
  flex-wrap: wrap;

  .column {
    display: flex;
    flex-direction: column;
    justify-items: flex-start;
    max-width: 20%;
    padding: 0;
    width: 20%;

    .cover {
      background-color: $egg;
      height: 100%;
      position: relative;
      width: 100%;
      z-index: 2;
    }
    
    .lock {
      position: relative;
      z-index: 3;
      width: 3em;
      top: -5em;
      left: 40%;
      cursor: pointer;
    }
    
    .image {
      position: relative;
      margin-bottom: -3em; 
      z-index: 0;
      width: 100%;
    }
  }
}
