$violet: #62466B;
$dark-violet: #45364B;
$pewter: #70A0AF;
$orange-rose: #F45B69;
$egg: #F0E2E7;
$slate: #4A5553;

@import url('https://fonts.googleapis.com/css2?family=Baloo+Tammudu+2:wght@600&family=Montserrat:wght@800&family=Open+Sans&display=swap');

$plain-text: 'Open Sans';
$title: 'Montserrat';
$accent: 'Baloo Tammudu 2';

* {
  font-family: $plain-text;
}

