@import '../../styles/variables.scss';

.App {
  text-align: center;
}

body {
  overflow: hidden;  
  background-color: $violet;
  background-image: url('../../images/header-bg.gif');
  background-repeat: no-repeat;
  background-size: cover;
  min-width: 100%;
  min-height: 100%;
}
