@import '../../styles/variables.scss';

* {
  font-family: $plain-text;
}

@mixin uniform-button {
  border: none;
    background: none;
    color: $pewter;
    cursor: pointer;
    display: inline-block;
    font-family: $accent;
    font-size: 1.5em;
    margin: 0;
    // padding: 1rem 2rem; 
    text-decoration: none;
    text-align: center;
    transition: background 250ms ease-in-out, 
                transform 150ms ease;
    -webkit-appearance: none;
    -moz-appearance: none;
}

main > header {
  align-items: center;
  background-color: $dark-violet;
  background-size: cover;
  color: $egg;
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: .5em 0 0em 0;
  width: 100%;
  
  .title {
    color: $orange-rose;
    cursor: default;
    font-family: $title;
    font-size: 4em;
    margin: 1.5em;
    text-decoration: none;
  }
  
  nav {
    display: flex;
    justify-content: space-between;
    width: 80%;
  }
  
  .toggleLabel {
    color: $pewter;
    cursor: default;
    font-size: .8em;
  }


  button {
    @include uniform-button
  }

  .inactive-link {
    @include uniform-button
  }

  .active-link, button:active {
    color: $orange-rose;
  }
}

main > .mono {
    background-color: $slate;
    background-image: none;

    .title {
      color: $egg;
    }

    button {
      color: $pewter;
    }
    
    .inactive-link {
      color: $pewter;
    }
    
    .active-link, button:active {
      color: $egg;
    }
  }